body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
    transition: background-color 1s; /* Efecto fade de 1 segundo */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    display: none;
}

.loading {
    display: none;
}


.hate {
    background-color: red;
}

.no-hate {
    background-color: green;
}

.default-bg {
    background-color: white;
}